# Dependabot will run on day 23 of each month at 03:51 (Europe/Berlin timezone)
version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "51 3 23 * *"
    open-pull-requests-limit: 15
    assignees:
      - "pdbjjens"
    versioning-strategy: "increase"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "51 3 23 * *"
    open-pull-requests-limit: 15
    assignees:
      - "pdbjjens"
